/*
 * AS filter styles
 */
#filter_panel{
    display:inline;
    top:0px;
    margin-left:0px;
    margin-right:0px;
    height:60px;
    border-bottom: 1px solid #aaa;
    font-size:11px;
    background:#eeeeee;
    padding:5px 0 4px 18px;
}
#filter_panel_ie{ /* MSIE */
    display:block;
    display:inline;
    top:0px;
    width:100%;
    margin-left:0px;
    margin-right:0px;
    height:70px;
    border-bottom: 1px solid #aaa;
    font-size:11px;
    background:#eeeeee;
    padding:5px 0 4px 18px;    
}

#filter_panel_nf{ /* No frames */
    z-index:98;
    position:relative;
    display:block;
    left:0px;
    right:0px;
    padding:5px 0 4px 14px;
    height:48px;
    border-bottom: 1px solid #aaa;
    font-size:11px;
    background:transparent;
	white-space: nowrap;
}


#filter_panel p,
#filter_panel_ie p,
#filter_panel_nf p {
    margin-top:2px;
    margin-bottom:5px;
}

#filter_panel_nf tr{
	border-spacing: 2px;
	border-color: gray;
}

#runtimes,
#products {
    margin:0 0 0 20px;
    background-repeat: no-repeat;
    padding-left:18px;
}
#runtimes:hover,
#products:hover {
    cursor:pointer;
}
#filter_panel a,
#filter_panel_ie a{
    text-decoration:none;
    color: #000;
}

/* 
  * filter handle 
  */
#asfilterhandle,
#asfilterhandle_ie{
    z-index:98;
    display:block;
    text-align:left;
    margin-left:10px;
    margin-bottom:10px;
    font-size:11px;
    color:#999999;
}
#asfilterhandle:hover,
#asfilterhandle_nf:hover{
    cursor: pointer;
    color:#666666;
}
#asfilterhandle_ie a,
#asfilterhandle_ie a:hover{
    color:#666666;
    text-decoration:none;
}


#asfilterhandle_nf{
    z-index:97;
    /* position:fixed; prevents the filter panel from scrolling */
    position:absolute;
    top:165px;
    height:15px;
    left:10px;
    right:20px;
    padding-top:5px;
    font-size:11px;
    color:#999999;
    background-color:#fff;
}

#asfilterhandle_nf_ie{
    /* position:fixed; prevents the filter panel from scrolling */
    position:absolute;
    display:block;
    top:170px;
    text-align:left;
    margin-left:10px;
    margin-bottom:10px;
    font-size:11px;
    color:#999999;
}





/*/ 
 * Pods  
 */

#productspod
{
    z-index:99;
    position:absolute;
    display:inline;
    visibility:hidden;
    background: #fff;
    border: solid 1px #333;
    border-right: solid 3px #666;
    border-bottom: solid 3px #666;
    height:auto;
    width:345px;
    padding:0;
    font-size:11px;
}

/* to fool IE 6 */
td > #runtimespod,
td > #productspod
{
    width:auto;

}

#runtimespod{
    position: absolute;
    top:82px;
    left:160px;
	z-index:99;
    position:absolute;
    display:inline;
    visibility:hidden;
    background: #fff;
    border: solid 1px #333;
    border-right: solid 3px #666;
    border-bottom: solid 3px #666;
    height:auto;
    width:275px;
    padding:0;
    font-size:11px;
}
#productspod{
    position: absolute;
    top:99px;
    left:160px;
}
#productspod hr{
    margin-top: 0px;
    margin-bottom: 0px;
}

#runtimespod form,
#productspod form{
    padding:0;
    margin:0;
}
.podblock{
    padding:4px 12px 4px 10px;
}

.filterRadio {
	vertical-align:middle;
	margin:0px 3px 3px 5px;
}
.ieFilterRadio{
	vertical-align:middle;
	margin:0px 0px 0px 0px;
	height:15px;
}
.closepod{
    float:right;
    height:10px;
}
.closepod a{
    color:#999;
    text-decoration:none;
}
.closepod a:hover{
    color:#333;
}

.filterTable {
	background-color:transparent;
}

.filterTable td {
	font-size:13px;
    white-space:nowrap;
}
 #filterImg{
	display: inline-block;
    zoom: 1; *display:inline; /* IE < 8: fake inline-block */
	position: absolute;
	height: 26px;
	line-height:22px;
	width: 150px;
	left:50%;
	margin-left:-105px;
	border-width: 0px 1px 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-color: rgb(128, 128, 128);
	background-repeat: no-repeat;
	background-color: #CDD6E0;
	cursor:pointer;
}
#filterImgText{
	/*vertical-align: -17px; ie7 下显示异常 */
	size: 14px;
	margin-left:18px;
}
.filterImg_hide{
	background-image: url('images/filter_up.png');
}

.filterImg_show{
	background-image: url('images/filter_down.png');
}
